# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## OSX
.DS_Store

## Build generated
build/
DerivedData/
tmp/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/*/Package.resolved

# VSCode
.vscode/launch.json

# Carthage
Carthage/

# Node
node_modules

# Jekyll
_site/
.sass-cache/
.jekyll-metadata

# FBSnapshotTestCase Failure Diffs
FailureDiffs/

# Scratchpad
Scratchpad.playground/

# Fastlane
fastlane/report.xml
fastlane/test_output

# Generated code
.xcodegen-cache
project-generated.yml
.project-generated.yml
Pods/
vendor/
tmp/
.ruby-version
mkmf.log

xcodebuild.log

.swiftpm

# Bundler
.bundle

# XCLogParser
xclogparser_reports

# VSCode user-specific files
buildserver.json
